<%- include("header") -%>
<div class="box" id="heading">
    <h1> <%= listTitle %> To Do List</h1>
</div>

<div class="box">


    <% addedTasks.forEach(function (task) { %>
    <form action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%= task._id %>" onChange="this.form.submit()">
            <p><%= task.name %></p>
            <input type="hidden" name="listName" value="<%= listTitle %>" >

        </div>
    </form>
    <% }) %>


    <form action="/" method="post" class="item">

        <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>


<%- include("footer") -%>